<!DOCTYPE html>
<html>

<head>
  <title>Chat App</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/img/chat.png" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="icon" href="/img/chat.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  <link rel="stylesheet" href="/css/chat.css" />
</head>

<body style="background-color: rgb(46, 58, 93); font-family: fantasy;">
  <div class="container">
    <div style="color: white;">
      <span class="col-md-10">
        <header>
          <img src="/img/letschat.png" width="160" height="60" style="color: white;">
          
        </header>
      </span>
      <span>
        
        <div style="padding-top: 23px; ">
          <span id="displayUser" style="font-size: 20px;"></span><br>
          <a style="color: white;" href="http://localhost:3000">Logout</a>
        </div>
      </span>
    </div>
  </div>
  <div class="chat col-md-12 col-xs-12" style="background-color: white;">
    <div id="sidebar" class="chat__sidebar"> </div>
    <div class="chat__main">
      <div id="messages" class="chat__messages"></div>
      <!-- <div id="locations" class="chat__messages"></div> -->

      <div class="compose">
        <form id="user">
          <input name="message" placeholder="Message" autocomplete="off" />
          <button>Send</button>
        </form>
        <button id="getLocation" style="display: none;"></button>
      </div>
    </div>
  </div>

  <script id="msg-template" type="text/html">
      <div class="message">
        <p>
          <span class="message__name">{{username}}</span>
          <span class="message__meta">{{createdAt}}</span>
        </p>
        <p>{{msg}}</p>
      </div>
    </script>

  <script id="location-template" type="text/html">
      <div class="message">
        <p>
          <span class="message__name">{{username}}</span>
          <span class="message__meta">{{createdAt}}</span>
        </p>
        <p><a href="{{loc}}" target="_blank">My current location</a></p>
      </div>
    </script>

  <script id="user-rooms" type="text/html">
      <h2 class="room-title">Room {{room}}</h2>
      <h3 class="list-title" style="color: red;">Group Info</h3>

      
      <ul class="users" style="list-style-type: disc">
        {{#users}}
        <li><i> {{username}} </i></li>
        {{/users}}
      </ul>
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>

</html>